!!!
%head
  %meta{'charset'=>'utf-8'}/
  %meta{'http-equiv'=>'X-UA-Compatible', :'content'=>'IE=Edge'}/
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  %title
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/app.min.css'}/
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/links.min.css'}/
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/borders.min.css'}/
  %link{'rel'=>'stylesheet', :'type'=>'text/css',  :'href'=>'./public/styles/bootstrap.min.css'}/

%body.container-fluid
  %header.row
    %nav.navbar.navbar-default
      .navbar-header
        .navbar-brand LearnHub - One stop learning portal!

  %section#content-container.row
    #sidebar-col.col-md-3
      .container-fluid
        .row
          .container-fluid
            .row
              .panel.panel-default
                .panel-heading
                  .panel-title Categories
                .panel-body.category-checks
                  %input{'type'=>'checkbox'} iOS
                  %br
                  %input{'type'=>'checkbox'} Android
                  %br
                  %input{'type'=>'checkbox'} Web Development
                  %br
                  %input{'type'=>'checkbox'} Software Development
        .row
          .container-fluid
            .row
              .panel.panel-default
                .panel-heading
                  .panel-title Sorting
                .panel-body 
                  .btn-group{'role'=>'group'}
                    %button.btn.btn-default{'type'=>'button'} Price
                    %button.btn.btn-default{'type'=>'button'} Ratings
        .row
          .container-fluid
            .row
              .panel.panel-default
                .panel-heading
                  #course-count.panel-title 
                    %span.count
                    Courses available

    #data-col.col-md-9
      .container-fluid
        .row
          .input-group.col-md-5
            %input.form-control{'type'=>'text', :'placeholder'=>'Search for a course.' }/
            %span.input-group-btn
              %button.btn.btn-default{'type'=>'text'} Go!
        .row
          .container-fluid.course-container
            .row
              .col-md-3
                .container-fluid
                  .row
                    .image
                  .row
                    .container-fluid
                      .row
                        .col-md-6
                          .rating
                        .col-md-6
                          .ext-link
              .col-md-7
                .container-fluid
                  .row
                    .title
                  .row
                    .description
              .col-md-2
                .container-fluid
                  .row
                    .expertise-level
                  .row
                    .price
              
  %footer.row
    .container-fluid
      .row
        .panel.panel-default
          .panel-heading
            .panel-title A Coda Global Initiative
          .panel-body links | links | links
          .panel-footer copyright &copy; LearnHub 2016
  #scripts
    %script{'src'=>'./public/scripts/jquery-2.1.4.min.js'}
    %script{'src'=>'./public/scripts/ie10-viewport-bug-workaround.min.js'}
    %script{'src'=>'./public/scripts/app.min.js'}


