#sidebar-col {
  border-right: thin solid #333;
}

.category-checks input[type=checkbox] {
  margin-right: 10px;
}

#content-container{
  margin-bottom: 1em;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.course {
  margin: 2em auto;
}
