#sidebar-col {
  border-right: thin solid #333;
}

.category-checks input[type=checkbox] {
  margin-right: 10px;
}

#content-container{
  margin-bottom: 1em;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.course {
  margin: 2em auto;
  &-title, &-detail{ padding: .2em; }
  &-title { font-size: 1.4em; }
}

.course-title, .course-detail {
  padding: .2em 1em;
}
.expertise-level, .cost {
  text-align: right;
  margin: 1em;
  text-transform: capitalize;
}

.expertise-level {
  padding: 0.3em;
  background-color: #666;
  color: #EEE;
  text-shadow: 1px 1px black;
  font-weight: bold;
  text-align: center;
  border-radius: .2em;
}

